$font-stack: Helvetica, sans-serif;
$white: #fff;
$border-colour: #ccc;
$ash-blue: #416891;
$spacing: 10px;
$prev-next: 40px;
$forty-pixels: 40px;

#container {
  float: left;
  display: block;
  box-sizing: border-box;
  background: $white;
  width: 300px;
  border: solid 1px $border-colour;
  margin-bottom: 10px;

  >div.header {
    float: left;
    width: 100%;
    color: $white;
    background: $ash-blue;
    height: $forty-pixels;

    >i {
      float: left;
      width: $prev-next;
      font-size: 1.125em;
      font-weight: bold;
      position: relative;
      box-sizing: border-box;
      padding: 0 $spacing;
      cursor: pointer;
    }

    >i.fa-angle-left {
      text-align: left;
    }

    >i.fa-angle-right {
      text-align: right;
      margin-left: $prev-next*-1;
    }

    >span {
      float: left;
      width: 100%;
      font-weight: bold;
      text-transform: uppercase;
      box-sizing: border-box;
      padding-left: $prev-next+$spacing;
      margin-left: $prev-next*-1;
      text-align: center;
      padding-right: $prev-next;
      color: inherit;
    }
  }
  >div.week {
    float: left;
    width: 100%;
    border-top: solid 1px $border-colour;

    &:first-child {
      border-top: none;
    }

    >span.day {
      float: left;
      width: 100%/7;
      box-sizing: border-box;
      border-left: solid 1px $border-colour;
      font-size: 0.7em;
      text-align: center;
      background: $white;
      cursor: pointer;
      color: black;

      &:first-child {
        border-left: none;
      }

      &.today {
        background: $white;
      }

      &.different-month {
        color: $border-colour;
      }

      &.selected {
        background: $ash-blue;
        color: $white;
      }
    }

    &.names>span {
      color: $ash-blue;
      font-weight: bold;
    }
  }
}